.PC .NFIX {
	/*浮動置頂*/
	/* position: fixed;
	width: 100%;
	height: 145px;
	left: 0;
	top: 0;
	z-index: 3; */
}
.MOBILE #navbar{
  position: relative;
}
.MOBILE #navbar ul{
	display: block;
	position: absolute;
	width: 100% !important;
	height: 45px;
	margin: 0 auto;
	overflow-x: scroll;
	/* [0] */
	white-space: nowrap;
	/* [1] */
	overflow-y: hidden;
	/* [2] */
	-webkit-overflow-scrolling: touch;
	/* [3] */
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
/* [5] */
.MOBILE #navbar ul::-webkit-scrollbar{
	display: none;
}
.MOBILE #navbar ul li{
  display: inline-block;
	float: unset !important;
	margin-right: -4px;
}

.MOBILE .NFIX {
	/*浮動置頂*/
	position: fixed !important;
	width: 100%;
	height: 45px;
	top: 0;
  margin-top: 45px !important;
	z-index: 3;
	overflow-x: scroll;
	/* [0] */
	white-space: nowrap;
	/* [1] */
	overflow-y: hidden;
	/* [2] */
	-webkit-overflow-scrolling: touch;
	/* [3] */
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.MOBILE .NFIX + div {
	margin-top: 45px !important;
}
.MOBILE .NFIX_60 {
	/*浮動置頂*/
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
	margin-top: 45px;
	z-index: 3;
}
.MOBILE #prevBtn{
  background-image: url(../../images/pre.png);
  background-position: center center;
  position: absolute;
  left: 0;
  width: 27px;
  height: 45px;
  background-size: 45%;
  background-repeat: no-repeat;
}
.MOBILE #nextBtn{
  background-image: url(../../images/next.png);
  background-position: center center;
  position: absolute;
  right: 0;
  width: 27px;
  height: 45px;
  background-size: 45%;
  background-repeat: no-repeat;
}

.MOBILE .active{
	width: 100%;
  height: 45px;
  color:#fff;
  line-height:45px;
  background-color:#ea1b1b;
}
.MOBILE .active > a{
  color:#fff !important;
}
.MOBILE .swipe{
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.MOBILE .swipe-wrap{
  overflow: hidden;
  position: relative;
}
.MOBILE .swipe-wrap > div{
  float: left;
  width: 100%;
  position: relative;
}
